In [25]:
# Import libraries
import pandas as pd
import numpy as np

# Import custom helper functions
from msa_zip_cleaning import *

In [50]:
# Read in Zillow zip rent and zip price and see
# if all zip codes have data in both

zip_price = pd.read_csv(
    '../datasets/zillow/zillow_median_price/Zip_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv',
    dtype={'RegionName':str}
                       )
# Rename column
zip_price.rename(columns={
    'Metro':'msa_name',
    'RegionName':'zipcode'
}, inplace=True)

# They do not. We will use the zip_price dataset's zip codes.
# Just get all zip codes.

# Clean Metro name
zip_price_cleaned = clean_BLS_msa_names(zip_price)

# Remove all zip codes not within a metro
zip_price_cleaned = zip_price_cleaned[zip_price_cleaned['msa_name'].notna()].reset_index(drop=True)

zip_price_cleaned.head(1)

,RegionID,SizeRank,zipcode,RegionType,StateName,State,City,msa_name,CountyName,2000-01-31,...,2023-08-31,2023-09-30,2023-10-31,2023-11-30,2023-12-31,2024-01-31,2024-02-29,2024-03-31,state,city
0,91982,1,77494,zip,TX,TX,Katy,"Houston, TX",Fort Bend County,211762.078497,...,486839.034009,488672.706004,489922.034733,490617.836202,491236.726086,492622.821494,494800.990956,497633.682304,TX,Houston

In [53]:
zip_price_cleaned['msa_name'].nunique()

926

In [57]:
# Read in BLS metro data
bls = pd.read_csv('../datasets/bls/smoothed/most_recent_bls_covid_smoothed.csv')

# Get only unique msa names
bls_msa = bls[['msa_name']]
bls_msa = bls_msa.drop_duplicates(ignore_index=True)

bls_msa

           msa_name
0       Abilene, TX
1     Aguadilla, PR
2         Akron, OH
3        Albany, GA
4        Albany, OR
..              ...
385      Yakima, WA
386        York, PA
387  Youngstown, OH
388   Yuba City, CA
389        Yuma, AZ

[390 rows x 1 columns]

In [ ]:
# Read in latest zip code data

# Read in latest msa data

In [ ]:
# Create a dictionary where the keys are the msa_names and the values are
# a list of all the zip codes that are within the msa

In [ ]:
# Read in a shp file for zip codes

# Read in a shp file for msas

In [ ]:
# Loop through each MSA and find the zip codes that are within the msa boundary

# Update the dictionary keys to add all zip codes within an msa

In [2]:
# Turn main dictionary into a dataframe

In [3]:
# Test the data on 20 random zip codes for quality assurance --
# Use a random shuffler to pick 20 random zip codes

# Then map the zip code and its corresponding MSA

# If every zip code is within its MSA boundary, it passes the test.

In [ ]:
# Run another test by simply mapping all zip codes
# within my 7 target cities
# Visually determine if it passes the test